<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Contactos</title>
</head>
<body>
<div th:replace="layout :: layout(~{::section})">
    <section>
        <h1>Contactos</h1>
        <a class="btn btn-success mb-3" th:href="@{/contactos/nuevo}">Agregar nuevo contacto</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfonos</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contacto : ${contactos}">
                <td th:text="${contacto.nombre}"></td>
                <td>
                    <ul class="mb-0">
                        <li th:each="tel : ${contacto.telefonos}" th:text="${tel}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>
